<div class="rodape">
  <div class="row" style="width: 100%">
    <div class="logo-config col-xs-6 hidden-sm hidden-lg hidden-md">
      <img class="img-rodape" src="../../assets/images/logo-rodape.svg" />
    </div>

    <div style="margin-left: 7%; margin-top: 2%;" class="rodape-site">
      <div class="row">
        <a  style="color: #e4e4e4; font-family: initial; font-weight: bold;" > REPÚBLICA DE ANGOLA</a>
        <!--<div class="row" align="right">-->
          <!--<a style="color: #e4e4e4; margin-right: 10px"> AVISOS LEGAIS</a>-->
          <!--<a style="color: #e4e4e4"> CONTACTOS</a>-->
        <!--</div>-->
      </div>

        <a class="row" style="color: #e4e4e4; font-family: initial; font-weight: bold;"> MINISTÉRIO DA ENERGIA E ÁGUAS </a>

    </div>

      <div style="margin-left: 15%; margin-top: 5.9%;">
        <a style="color: #e4e4e4"> © 2019 Ministério da Energia e Águas. Todos os Direitos Reservados</a>
      </div>

  </div>
</div>
