.rodape{
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #0E6280;
  box-shadow: #ccc 3px 3px 3px;
  border-radius: 4px;
  margin-bottom: 1%;
}

.img-rodape {
  max-height: 95px;
  max-width: 100px;
  margin-top: 5px;
  margin-left: 50%;
}

.rodape-site {
  color: #0E6280;
}

.cor-texto-rodape {
  color: #e4e4e4;
}
