<div class="row">
  <div class="rodape container4">
    <img class="img-rodape" src="../../assets/images/logo-rodape.svg" />
    <p>© {{data | date: 'yyyy'}} Ministério da Energia e Águas. Todos os Direitos Reservados.
  </div>
</div>
