.rodape{
  height: 60px;
  width: 91%;
  margin-left: 5%;
  background-color: #0E6280;
  box-shadow: #ccc 3px 3px 3px;
  border-radius: 4px;
}

.rodape-ft-size {
  color: #e4e4e4 !important;
  font-family: initial;
  font-weight: bold;
}

.img-rodape {
  margin-top: 0.5%;
  margin-left: 3%;
  height: 90%;
  width: 5%;
}

.rodape-site {
  color: #0E6280;
  margin-left: 7%;
  margin-top: 2%;
  width: 80%;
}

div.container4 {
  height: 60px;
  position: relative;
  color: #e4e4e4;
  width: 100%;
  margin-right: 5%;
}
div.container4 p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.cor-texto-rodape {
  color: #e4e4e4;
}

@media only screen and (max-width: 600px) {
  .img-rodape {
    max-height: 65px;
    max-width: 80px;
    margin-top: 4px;
    margin-left: 40%;
  }

  .rodape-site {
    margin-left: 4%;
    margin-top: 1%;
  }
  .rodape{
    height: 90px;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .rodape-ft-size {
    color: #e4e4e4 !important;
    font-family: initial;
    font-weight: bold;
    font-size: small;
    margin-left: 39px;
  }

}
