<div>
  <div class="linha-topo">
  </div>
  <div class="topo" style="display: inline">
      <div class="logo-config col-xs-6 hidden-sm hidden-lg hidden-md">
        <a href="http://www.minea.gov.ao/" target="_blank">
          <img style="margin-left: 4%" class="img-responsive brasao" src="../../assets/images/logo_minea_2018.png" />
        </a>
        <h2 class="tamanho-customizado">
          <a style="color: #0E6280 !important;" href="/">SISAS - Sistema de Informação do Sector de Águas e Saneamento</a>
        </h2>
      </div>
  </div>
</div>





