.example-link {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.logo-config {
  max-height: 90px;
  max-width: 258px;
  margin-left: 50px;
}

.linha-topo {
  background-color: #0e4775;
  height: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  border-radius: 4px;
}

.navbar-config {
  background-color: #0e4775 !important;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.1%;
  box-shadow: #ccc 3px 3px 3px;
  border-radius: 4px;
  height: 3.2em;
}

.cor-text-menu {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  margin-right: 1%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #00523d;
}

.navbar-form {
  background: #ddd;
  border-collapse: collapse;
  margin-right: 20px !important;
  margin-left: 0px !important;
  padding: 2px;
  width: auto;
  border: 0;
  box-shadow: none;
  margin-top: 8px;
  margin-bottom: 8px;
  float: right !important;
}

.navbar-form button {
  margin: 0px;
  padding: 5px 10px;
  background: #888;
  border: 0;
}

.navbar-form input {
  display: inline-block;
  border: 0;
  background: transparent;
  padding: 0 4px;
  margin: 0 5px;
}

input, button, select, textarea {
  font-family: Open Sans;
  font-size: inherit;
  line-height: inherit;
}

.btn-search {
  margin: 0px;
  padding: 5px 10px;
  background: #888;
  border: 0;
}
