<!--<mat-toolbar color="primary">-->
  <!--<mat-toolbar-row>-->
    <!--<span>Wb.Gy</span>-->
    <!--<span class="example-spacer"></span>-->
    <!--<a class="example-link" routerLink="/" mat-button>Home</a>-->
    <!--<a class="example-link" routerLink="/posts" mat-button>Posts</a>-->
    <!--<a class="example-link" href="https://github.com/geeksamu/angular-5-article-series" mat-button>-->
      <!--<mat-icon>star</mat-icon>-->
      <!--Github-->
    <!--</a>-->
    <!--<mat-slide-toggle [checked]="isThemeDark | async" (change)="toggleDarkTheme($event.checked)">Dark theme</mat-slide-toggle>-->
  <!--</mat-toolbar-row>-->
<!--</mat-toolbar>-->

<div class="linha-topo">

</div>

<div class="topo">
  <div class="row" style="height: 100px; width: 1170px">
    <div class="logo-config col-xs-6 hidden-sm hidden-lg hidden-md">
      <a href="http://www.es.gov.br" target="_blank"><img class="img-responsive brasao" src="../../assets/images/logo_minea_2018.png" /></a>
    </div>

    <div  style="margin-left: 5%" class="hidden-xs tituloSite"><h2><a href="/" title="Página inicial do MINISTÉRIO DA ENERGIA E ÁGUAS">MINISTÉRIO DA ENERGIA E ÁGUAS</a></h2></div>
  </div>
</div>

<div>

</div>

<div class="navbar-config">
  <nav class=" navbar navbar-expand-lg ">
    <a class="cor-text-menu" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link cor-text-menu" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cor-text-menu" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle cor-text-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item cor-text-menu" href="#">Action</a>
            <a class="dropdown-item cor-text-menu" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cor-text-menu" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled cor-text-menu" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
