<div class="linha-topo">

</div>

<div class="topo">
  <div class="row" style="height: 100px; width: 1170px">
    <div class="logo-config col-xs-6 hidden-sm hidden-lg hidden-md">
      <a href="http://www.minea.gov.ao/" target="_blank">
        <img class="img-responsive brasao" src="../../assets/images/logo_minea_2018.png" />
      </a>
    </div>

    <div  style="margin-left: 5%" class="hidden-xs tituloSite">
      <h2>
        <a style="color: #0E6280 !important;" href="/" title="Página inicial do MINISTÉRIO DA ENERGIA E ÁGUAS">MINISTÉRIO DA ENERGIA E ÁGUAS</a>
      </h2>
    </div>
  </div>
</div>

<div>

</div>

<div class="navbar-config">
  <nav class="navbar navbar-expand-lg" style="padding: .1rem 1rem;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link cor-text-menu" href="#">Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle cor-text-menu" href="#" id="sobredna" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sobre o DNA
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #3e7284">
            <a class="dropdown-item cor-text-menu" href="#">Action</a>
            <a class="dropdown-item cor-text-menu" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cor-text-menu" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle cor-text-menu" href="#" id="noticias" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Notícias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #3e7284">
            <a class="dropdown-item cor-text-menu" href="#">Action</a>
            <a class="dropdown-item cor-text-menu" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cor-text-menu" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle cor-text-menu" href="#" id="projectos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #3e7284">
            <a class="dropdown-item cor-text-menu" href="#">Action</a>
            <a class="dropdown-item cor-text-menu" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cor-text-menu" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link cor-text-menu" href="#">Publicações <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cor-text-menu" href="http://www.minea.gov.ao/" target="_blank">Minea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cor-text-menu" href="#">Contactos</a>
        </li>
      </ul>
      <form id="googleForm" name="googleForm" onsubmit="return false" class="navbar-form navbar-right search-transparencia" role="search">
        <input type="text" id="googleText" class="input-search" placeholder="Buscar">
        <button type="submit" class="btn-search" id="btnGoogle" onclick="pesquisaTexto(document.getElementById('googleText').value);" onkeypress="OnKeyPressCounter(event, this);"><i class="fa fa-search"></i></button>
      </form>

    </div>
  </nav>
</div>
