.example-link {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.logo-config {
  //max-height: 90px;
  //max-width: 258px;
  //margin-left: 50px;
}

.linha-topo {
  background-color: #0E6280;
  height: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  border-radius: 4px;
}

.navbar-config {
  background-color: #0E6280 !important;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.1%;
  box-shadow: #ccc 3px 3px 3px;
  border-radius: 4px;
  height: 3.2em;
}

.cor-text-menu {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 20px;
  margin-right: 1%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #00523d;
}

.navbar-form {
  background: #ddd;
  border-collapse: collapse;
  margin-right: 20px !important;
  margin-left: 0px !important;
  padding: 2px;
  width: auto;
  border: 0;
  box-shadow: none;
  margin-top: 8px;
  margin-bottom: 8px;
  float: right !important;
}

.navbar-form button {
  margin: 0px;
  padding: 5px 10px;
  background: #888;
  border: 0;
}

.navbar-form input {
  display: inline-block;
  border: 0;
  background: transparent;
  padding: 0 4px;
  margin: 0 5px;
}

input, button, select, textarea {
  font-family: Open Sans;
  font-size: inherit;
  line-height: inherit;
}

.btn-search {
  margin: 0px;
  padding: 5px 10px;
  background: #888;
  border: 0;
}

.barra-header {
  height: 100%;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}


.tamanho-customizado {
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  color: #0E6280 !important;
  font-size: 0.6em;
  margin-top: 25px;
  text-align: center !important;
  display: inline;
}

@media only screen and (max-width: 600px) {
  .img-rodape {
    max-height: 65px;
    max-width: 80px;
    margin-top: 4px;
    margin-left: 40%;
  }

  .rodape-ft-size {
    color: #e4e4e4 !important;
    font-family: initial;
    font-weight: bold;
    font-size: small;
    margin-left: 39px;
  }

  .tamanho-customizado {
    font-size: 0.9em;
    margin-top: 25px;
    color: #0E6280 !important;
    line-height: 20px;
    font-weight: bold;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tamanho-customizado {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    height: 94px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .tamanho-customizado {
    line-height: 90px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    color: #0e4775;
    font-size: calc(17px + (8/1200) * 100 * 1vw);
    margin-left: 2%;
  }

}

@media (min-width: 1200px) {
  .tamanho-customizado {
    line-height: 111Px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: calc(17px + (8/1200) * 100 * 1vw);
    margin-left: 2%;
  }

}
