<div *ngIf="sobre">
  <mat-toolbar color="primary" style="background: #0d6280 !important;" class="toolbar-config cofig-barra-menu">
    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a class="font" href="#" mat-button>Início</a>
      <a class="font" [routerLink]="['/sobre']" mat-button>Sobre o SISAS</a>
      <a class="font" href="#" mat-button>Projectos</a>
      <a class="font" href="#" mat-button>Publicações</a>
      <a class="font" href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>
      <a class="font" [routerLink]="['/contactos']" mat-button>Contactos</a>
    </div>

    <div fxShow="true" fxHide.gt-sm="true" style="top:-2em;" (click)="sidenav.toggle()">
      <a href="#" style="color: #fffcf9;" (click)="sidenav.toggle()"><i class="fa fa-bars" style="size: 10px;"></i> Sisas</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a href="#" mat-button>Início</a>
        <a href="#" mat-button>Sobre o SISAS</a>
        <a href="#" mat-button>Projectos</a>
        <a href="#" mat-button>Publicações</a>
        <a href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>
        <a href="#" mat-button>Contactos</a>
      </div>
    </mat-sidenav>

    <!--pagina Artigos-->
    <div class="page-header-sobre">
      <div class="container">
        <h1>Artigos</h1>
      </div>
    </div>

    <div class="container card-body" *ngIf="sobre">
      <div class="entry-image full-image">
        <img class="tamanho-imagem-artigo" [src]="'data:' + sobre.imagemCapaContentType + ';base64,' + sobre.imagemCapa" onError="this.src='/assets/blank.png';"/>
      </div>

      <div class="entry-header has-post-format">
        <dl class="article-info">
        </dl>
        <h2>{{sobre.titulo}}</h2>
      </div>

      <div>
        <p id="descricao" class="lead">{{sobre.texto}}</p>
      </div>
    </div>
    <!--pagina Artigos-->
    <router-outlet></router-outlet>

    <app-rodape></app-rodape>

  </mat-sidenav-container>
</div>
