<div [ngClass]="{'dark-theme': isThemeDark | async}">
  <div class="mat-app-background">
    <app-navbar></app-navbar>

    <!--<mat-toolbar color="primary" style="background: #0d6280 !important;" class="toolbar-config">-->
      <!--<span class="example-spacer"></span>-->

      <!--<div fxShow="true" fxHide.lt-md="true">-->
        <!--&lt;!&ndash; The following menu items will be hidden on both SM and XS screen sizes &ndash;&gt;-->
        <!--<a class="font" href="#" mat-button>Início</a>-->
        <!--<a class="font" href="#" mat-button>Sobre o DNA</a>-->
        <!--<a class="font" href="#" mat-button>Notícias</a>-->
        <!--<a class="font" href="#" mat-button>Projectos</a>-->
        <!--<a class="font" href="#" mat-button>Publicações</a>-->
        <!--<a class="font" href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>-->
        <!--<a class="font" href="http://192.168.0.241:9000" target="_blank" mat-button>Sisas</a>-->
        <!--<a class="font" routerLink="home" mat-button>Contactos</a>-->
        <!--&lt;!&ndash;<form id="googleForm" name="googleForm" onsubmit="return false" class="navbar-form navbar-right search-transparencia" role="search">&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" id="googleText" class="input-search" placeholder="Buscar">&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="submit" class="btn-search" id="btnGoogle" onclick="pesquisaTexto(document.getElementById('googleText').value);" onkeypress="OnKeyPressCounter(event, this);"><i class="fa fa-search"></i></button>&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->
      <!--</div>-->

      <!--<div fxShow="true" fxHide.gt-sm="true" style="top:-2em;" (click)="sidenav.toggle()">-->
        <!--<a href="#" style="color: #fffcf9;" (click)="sidenav.toggle()"><i class="fa fa-bars" style="size: 10px;"></i> Sisas</a>-->
      <!--</div>-->
    <!--</mat-toolbar>-->

    <!--<mat-sidenav-container fxFlexFill class="example-container">-->
      <!--<mat-sidenav #sidenav fxLayout="column">-->
        <!--<div fxLayout="column">-->
          <!--<a (click)="sidenav.toggle()" href="#" mat-button>Close</a>-->
          <!--<a href="#" mat-button>Início</a>-->
          <!--<a href="#" mat-button>Sobre o DNA</a>-->
          <!--<a href="#" mat-button>Notícias</a>-->
          <!--<a href="#" mat-button>Projectos</a>-->
          <!--<a href="#" mat-button>Publicações</a>-->
          <!--<a href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>-->
          <!--<a href="http://192.168.0.241:9000" target="_blank" mat-button>Sisas</a>-->
          <!--<a href="#" mat-button>Contactos</a>-->
        <!--</div>-->
      <!--</mat-sidenav>-->

      <!--<ngb-carousel>-->
        <!--<ng-template ngbSlide *ngFor="let avatar of banners; let i = index">-->
          <!--<div class="picsum-img-wrapper">-->
            <!--<img style="max-height: 350px; min-width: fit-content;" [src]="'data:' + avatar.contentType + ';base64,' + avatar.imagemBanner" alt="Random first slide">-->
          <!--</div>-->
        <!--</ng-template>-->
      <!--</ngb-carousel>-->

      <!--<app-posts></app-posts>-->
      <!--<app-publicacoes></app-publicacoes>-->

      <router-outlet></router-outlet>

      <!--<app-rodape></app-rodape>-->
    <!--</mat-sidenav-container>-->

  </div>
</div>
