<div>
  <mat-toolbar color="primary" style="background: #0d6280 !important;" class="toolbar-config cofig-barra-menu">
    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a class="font" href="#" mat-button>Início</a>
      <a class="font" [routerLink]="['/sobre']" mat-button>Sobre o SISAS</a>
      <a class="font" [routerLink]="['/projectos']" mat-button>Projectos</a>
      <a class="font" href="#" mat-button>Publicações</a>
      <a class="font" href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>
      <a class="font" [routerLink]="['/contactos']" mat-button>Contactos</a>
    </div>

    <div fxShow="true" fxHide.gt-sm="true" style="top:-2em;" (click)="sidenav.toggle()">
      <a href="#" style="color: #fffcf9;" (click)="sidenav.toggle()"><i class="fa fa-bars" style="size: 10px;"></i> Sisas</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a href="#" mat-button>Início</a>
        <a href="#" mat-button>Sobre o SISAS</a>
        <a href="#" mat-button>Projectos</a>
        <a href="#" mat-button>Publicações</a>
        <a href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>
        <a href="#" mat-button>Contactos</a>
      </div>
    </mat-sidenav>

    <!--pagina Contactos-->
    <div class="page-header-sobre">
      <div class="container">
        <h1>Projectos</h1>
      </div>
    </div>

    <!--Filtro de dados-->
    <div class="margem-pagina">
      <!--<section class="box-detalhamento&#45;&#45;tipo-b">-->
        <!--<button id="btn-section-filtros-aplicados" class="grafico-tabela__botao-collapse" data-toggle="collapse" data-target="#box-filtros-aplicados-com-botao" aria-expanded="true" type="button">-->
          <!--<i class="fa fa-fw fa-minus-square-o"></i>-->
          <!--<i class="fa fa-fw fa-plus-square-o"></i>-->
          <!--Filtros aplicados:-->
        <!--</button>-->
        <!--<div id="box-filtros-aplicados-com-botao">-->
          <!--<div id="box-filtros-aplicados" class="box-tabela-completa__tags collapse in"></div>-->
          <!--<p style="text-align: right">-->
            <!--<button type="button" class="btn-consultar btn-filtros-aplicados-consultar" data-toggle="tooltip" data-placement="top" data-original-title="Clique aqui para atualizar o resultado da pesquisa">Atualizar</button>-->
            <!--<button type="button" class="btn-limpar-filtros" data-toggle="tooltip" data-placement="top" data-original-title="Limpar filtros">Limpar</button>-->
          <!--</p>-->
        <!--</div>-->
      <!--</section>-->
      <!--Filtro de dados-->

      <!--header da tabela de dados-->
      <div id="datas" style="margin-bottom: -30px!important;">
        <strong>Dados atualizados até: </strong>{{data | date: 'dd/MM/yyyy'}}
      </div>

      <h2 class="box-padrao__titulo--com-margem">Tabela de dados</h2>
      <div class="grafico-tabela box-tabela-completa">
        <ul class="box-tabela-completa__opcoes">
          <li><a href="#" role="button" onclick="window.print();"><i class="fa fa-fw fa-print"></i> Imprimir</a></li>
          <!--<li><a href="#" role="button" id="btnBaixar" data-toggle="modal"><i class="fa fa-fw fa-download"></i> Baixar</a> </li>-->
        </ul>
      <!--header da tabela de dados-->

      <div class="wrapper-table">

        <!--<div class="spinner-container loading-grande" id="spinner" style="display:none; margin: 50px 50% 500px">-->
          <!--<i class="fa fa-circle-o-notch fa-spin"></i>-->
          <!--<span class="spinner-text" style="font-size: .35em; margin: 10px -110px; display: block; text-align: left; white-space: nowrap;">-->
                    <!--Esta consulta pode demorar alguns minutos-->
                <!--</span>-->
        <!--</div>-->

        <div class="ativo">
          <div class="double-scroll" style="overflow: auto hidden">
            <table id="lista" class="dataTable no-footer" role="grid" style="display: table; width: 0px;" *ngIf="arquivos">
              <thead>
              <tr role="row">
                <th>Título</th>
                <th>Categoria</th>
                <th>Data</th>
                <th>Tamanho</th>
                <th>Arquivo</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of arquivos">
                <td>
                  <span data-toggle="tooltip">{{item.descricao}}</span>
                </td>
                <td>
                  <span data-toggle="tooltip">{{item.nomeArquivo}}</span>
                </td>
                <td>
                  <span data-toggle="tooltip">{{item.dataInclusao | date: 'dd/MM/yyyy'}}</span>
                </td>
                <td>
                  <span data-toggle="tooltip">{{item.nomeArquivo}}</span>
                </td>
                <td>
                  <div class="pd-document16" style="background: url('../../assets/images/icon-pdf.png') 0 center no-repeat;">
                    <a style="margin-left: 10%" target="_blank" [href]="item.uri" > {{item.nomeArquivo}}</a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--pagina Projectos-->
    </div>
    </div>

    <router-outlet></router-outlet>

    <app-rodape></app-rodape>

  </mat-sidenav-container>
</div>
