$transition_time:.2s;

.carousel {
  color:white;
  max-height: 350px;
  border-radius: 4px;
  box-shadow: #ccc 3px 3px 3px;
  margin-left: 5%;
  margin-right: 5%;
  .content {
    display: flex;

    .item {
      width: 100%;
      display: block;
      // fade
      opacity: 0;

      // using delay to prevent left change show error
      &.fade_animation {
        transition: opacity 0.295s linear $transition_time;
      }

      &.fade_animation_0 {
        transition: opacity 0.295s linear;
      }

      &.visible {
        opacity: 1;
      }

      &.last-child
      {
        opacity: 0;
      }

      &.visible_important {
        opacity: 1;
      }

      .img {
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        height: 0;
        padding-bottom: 50%;
      }
    }


  }

  .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    border: 2px solid;
    opacity: 0.5;

    &.visible {
      opacity: 1;
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #ff5252;
  }

  .click-area {
    width: 50px;
    text-align: center;

    i {
      font-size: 3em;
    }
  }
}

.margem-pagina {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-top: 0.7%;
}
.navbar-configuracoes {
  height: 3.2em;
  font-weight: 500;
  padding: .1rem 1rem;
}

.toolbar-config {
  width: 90%;
  float: right;
  margin-right: 5%;
  margin-bottom: 1%;
  box-shadow: #ccc 3px 3px 3px;
  border-radius: 4px;
}

.font {
  font-size: 16px;
}

.cofig-barra-menu {
  background: #0d6280 !important;
  height: 45px;
  margin-top: 1%;
}

.page-header-sobre {
  margin-top: 0.1%;
  padding: 30px 0 15px;
  background: #fafafa;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  margin-bottom: 2px;
}

//conteudo pagina
.box-detalhamento--tipo-b {
  margin-bottom: 10px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f5f5f5;
}

.dados-detalhados>button, .grafico-tabela__botao-collapse {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-weight: 700;
  font-size: 1.15em;
  color: #0d6280;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  border: 0;
  background-color: #e8ebed;
}

.box-tabela-completa__tags {
  margin-top: 10px;
  padding: 0 10px;
  overflow: hidden;
}
.btn-filtros-aplicados-consultar {
  margin-right: 10px;
}

button, a[role="button"], .dropdown-menu-agregar-adicionar button[type="submit"] {
  margin-bottom: 0;
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  line-height: 1.4;
  color: #0d6280;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 2px;
  border: 1px solid #c4e8f5;
  background-color: #fff;
  background-image: none;
  transition: background-color .2s ease-in-out,color .2s ease-in-out;
}

.btn-limpar-filtros {
  margin-right: 10px;
}

//header titulo antes da tabela
#datas {
  color: #555;
}

.box-padrao__titulo--com-margem {
  margin: 50px 0 20px;
  padding: 6px 0 0;
  font-weight: 700;
  font-size: 1.72em;
  color: #0d6280;
  border-top: 4px solid #0d6280;
}

// UI HEADER TABELA
.box-tabela-completa {
  padding: 20px !important;
  border: 1px solid #dbdbdb !important;
  background-color: #fafafa !important;
}
.box-tabela-completa {
  margin-top: 10px;
}
.grafico-tabela {
  width: 100%;
  padding: 13px 15px 100px;
  position: relative;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
}

.box-tabela-principal ul, .box-tabela-completa ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 220px;
}

.box-tabela-principal .menu-tabela>li, .box-tabela-completa__opcoes>li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.box-tabela-completa__opcoes>li+li {
  margin-left: 5px;
}

.box-tabela-principal .menu-tabela>li, .box-tabela-completa__opcoes>li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

// tabela
.box-tabela-completa .wrapper-table {
  margin: 15px 0;
}
.wrapper-table, .wrapper-table--simples {
  width: 100%;
}

//tabela
.box-tabela-completa table, .tabela-receptor table {
  width: 100%;
  font-family: "Open Sans Condensed",sans-serif;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  background-color: #fff;
}
.grafico-tabela {
  width: 100%;
  padding: 13px 15px 100px;
  position: relative;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
}

box-tabela-principal table td, .box-tabela-completa table td, .tabela-receptor table td {
  padding: 10px 7px;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
  font-size: .9em;
  line-height: 1.1;
  text-align: left;
  vertical-align: top;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

table.dataTable {
  width: 100% !important;
}

.box-tabela-principal table thead th, .box-tabela-completa table thead th, .tabela-receptor table th {
  padding: 10px;
  font-weight: 700;
  font-size: .9em;
  color: #0d6280;
  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f5f5f5;
}

.box-tabela-completa table thead th, .box-tabela-principal table thead th {
  min-width: 135px;
}

.box-tabela-completa table, .tabela-receptor table {
  width: 100%;
  font-family: "Open Sans Condensed",sans-serif;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  background-color: #fff;
}
