<mat-toolbar color="primary" class="toolbar-config cofig-barra-menu">
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <a class="font" [routerLink]="['/home']" mat-button>Início</a>
    <a class="font" [routerLink]="['/sobre']" mat-button>Sobre o SISAS</a>
    <a class="font" href="#" mat-button>Projectos</a>
    <a class="font" href="#" mat-button>Publicações</a>
    <a class="font" href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>
    <a class="font" [routerLink]="['/contactos']" mat-button>Contactos</a>
  </div>
  <div fxShow="true" fxHide.gt-sm="true" style="top:-2em;" (click)="sidenav.toggle()">
    <a href="#" style="color: #fffcf9;" (click)="sidenav.toggle()"><i class="fa fa-bars" style="size: 10px;"></i> Sisas</a>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
      <a href="#" mat-button>Início</a>
      <a href="#" mat-button>Sobre o SISAS</a>
      <a href="#" mat-button>Projectos</a>
      <a href="#" mat-button>Publicações</a>
      <a href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>
      <a href="#" mat-button>Contactos</a>
    </div>
  </mat-sidenav>

<!--Conteudo Contactos-->

  <div class="mb-4" style="margin-left: 5%; margin-right: 5%" *ngIf="contacto">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contacto</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">{{contacto.descricao}}</p>
    <div class="row">
      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        <form id="contact-form" name="contact-form" action="mail.php" method="POST" style="margin-left: 3%">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="name" name="name" class="form-control">
                <label for="name" class="">Seu nome</label>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="email" name="email" class="form-control">
                <label for="email" class="">Seu email</label>
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="subject" name="subject" class="form-control">
                <label for="subject" class="">Assunto</label>
              </div>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-12">

              <div class="md-form">
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                <label for="message">Sua mensagem</label>
              </div>

            </div>
          </div>
          <!--Grid row-->

        </form>

        <div class="text-center text-md-left" style="margin-left: 2%">
          <a style="background-color: #0d6280 !important;" class="btn btn-primary">Enviar</a>
        </div>
        <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0" style="margin-top: 7%;">
          <li><i class="fa fa-map-marker fa-2x"></i>
            <p>{{contacto.endereco}}</p>
          </li>
          <li><i class="fa fa-phone mt-4 fa-2x"></i>
            <p>{{contacto.telemovel}}</p>
          </li>
          <li><i class="fa fa-envelope mt-4 fa-2x"></i>
            <p>{{contacto.email}}</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>

  </div>
  <!--pagina Contactos-->

  <router-outlet></router-outlet>

  <app-rodape></app-rodape>

</mat-sidenav-container>



















<!--<div>-->
  <!--<div class="row" style="padding-top: 20px;">-->
    <!--<div class="col-md-3"></div>-->

    <!--<div style="margin-left: 11%; background-color: #628394 !important" class="card col-md-3">-->
      <!--<div class="text-center" id="imagem">-->
        <!--<img class="img-responsive " src="../../content/images/logo_minea.png" style="margin-top: 10px;">-->
      <!--</div>-->
      <!--<div class="row" >-->
        <!--<div class="col-md-12" align="center">-->
          <!--<p style="color: #e1e7ea; font-size: 13px; margin-left: 25%">-->
            <!--<b>-->
              <!--Departamento Nacional de Águas-->
            <!--</b>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row" >-->
        <!--<div class="col-md-12" align="center">-->
          <!--<p style="color: #e1e7ea; font-size: 15px; font-weight: bold;">-->
            <!--<b>-->
              <!--SISAS - Sistema de Informação do Sector de Águas e Saneamento-->
            <!--</b>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<form class="form" role="form" >-->
              <!--<div class="form-group">-->
                <!--<label for="username" style="color: #e1e7ea; font-weight: bold">Login</label>-->
                <!--<input type="text" class="form-control" name="username" id="username"/>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label for="password" style="color: #e1e7ea; font-weight: bold">Password</label>-->
                <!--<input type="password" class="form-control" name="password" id="password"-->
                       <!--[(ngModel)]="password">-->
              <!--</div>-->


              <!--<button type="submit" class="btn btn-primary" style="background-color: #185aa2" >-->
                <!--Sign in-->
              <!--</button>-->

              <!--<label class="form-check-label" for="rememberMe" style="background-color: #628394; color: #e1e7ea; padding-left: 30px;">-->
                <!--<input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" checked>-->
                <!--<span >Remember me</span>-->
              <!--</label>-->
            <!--</form>-->

            <!--<p></p>-->

            <!--<div class="esqueceu-senha">-->
              <!--<a class="alert-link">Did you forget your password?</a>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<br/>-->
    <!--</div>-->

    <!--<div class="col-md-3"></div>-->
  <!--</div>-->
<!--</div>-->




