
<div>
  <h2 style="line-height: 1.2em;color: #0E6280 !important; margin-top: 2px;" class="titulo-home-preto text-center">Projectos em destaque</h2>
</div>
<div fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">

  <div id="blocont1" *ngFor="let post of noticiasPortals| slice:0:4; let  i = index"  class="responsive-card" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
    <mat-card class="singleNews" [ngClass]="{'espaco-direita': i!=3}">
      <img mat-card-image [src]="'data:' + post.imagemCapaContentType + ';base64,' + post.imagemCapa" onError="this.src='/assets/blank.png';"/>
      <div class="cardbody">
        <mat-card-title>{{post.titulo}} {{i}}</mat-card-title>
        <mat-card-content>
          <p>{{post.texto}}</p>
        </mat-card-content>
      </div>

      <mat-card-actions align="end">
        <a [routerLink]="['/artigos', post.id ]" mat-raised-button class="botao-noticias">Ler Mais</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div id="blocont2" *ngFor="let post of noticiasPortals| slice:4:8; let  i = index"  class="responsive-card" fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center">
    <mat-card class="singleNews" [ngClass]="{'espaco-direita': i!=3}">
      <img mat-card-image [src]="'data:' + post.imagemCapaContentType + ';base64,' + post.imagemCapa" onError="this.src='/assets/blank.png';"/>
      <div class="cardbody">
        <mat-card-title>{{post.titulo}}</mat-card-title>
        <mat-card-content>
          <p>{{post.texto}}</p>
        </mat-card-content>
      </div>

      <mat-card-actions align="end">
        <a [routerLink]="['/artigos', post.id ]" mat-raised-button class="botao-noticias">Ler Mais</a>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
