
<div>
  <h2 style="line-height: 1.3em;" class="titulo-home-preto text-center">Projectos em destaque</h2>
</div>
<div style="margin-left: 5%; margin-right: 4%" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
  <div *ngFor="let post of news.articles| slice:0:8"  style=" max-width: 24% !important;">

    <mat-card class="singleNews">
      <img mat-card-image src="{{post.urlToImage}}" onError="this.src='/assets/blank.png';">
      <div class="cardbody">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-content>
          <p>{{post.description}}</p>
        </mat-card-content>
      </div>

      <mat-card-actions align="end">
        <a href="{{post.url}}" target="_balnk" mat-raised-button class="botao-noticias">Ler Mais</a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
