.singleNews {
  margin-bottom: 15px;
  width: 100%;
  img {
    height: 200px;
  }
  mat-card-title {
    font-size: 16px;
    font-weight: bold;
  }
  .cardbody {
    height: 100px;
    overflow-y: auto;
    margin: 0 -15px;
    padding: 10px;
  }
}
.espaco-direita {
  margin-right: 3%;
}

.responsive-card {
  display: inline-flex;
  flex-flow: row wrap;
  width: 22.6vw;
}
.filter {
  margin-top: 100px;
  margin-bottom: 50px;
}

.margem-noticias {
  margin-right: 5%;
  width: 100%;
}

#conteudo h2.titulo-home-preto, .conteudo h2.titulo-home-preto {
  font-family: "Raleway-Black";
  font-size: 36px;
  line-height: 1.5em;
  margin: 20px 0 30px -10px;
  color: #333333;
  padding: 10px;
  letter-spacing: -0.8px;
}

.auto-grid {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.topo {
  height: 111px;
  width: 100%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.tituloSite h2 {
  line-height: 111Px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  color: #0E6280;
  font-size: 2.3em;
}

.col-lg-5 {
  width: 41.66666666666667%;
}

.botao-noticias {
  color: #ffffff;
  background-color: #0e4775 !important;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .responsive-card {
    display: inline-flex;
    flex-flow: row wrap;
    width: 91vw;
  }

  .singleNews {
    img {
      width: 100%;
      height: 60px;
    }
    mat-card-title {
      font-size: 14px;
      font-weight: bold;
    }
    .cardbody {
      height: 22vw;
      overflow-y: auto;
      margin: 0 -15px;
      padding: 8px;
    }
  }
}
