<div class="conteiner-publicacoes">
  <div>
    <h2 style="line-height: 1.2em; color: #0E6280 !important" class="titulo-home-preto text-center">Publicações</h2>
  </div>

  <div style="margin-left:4%; margin-right: 5%" fxLayoutAlign="left">
      <div class="pd-filename">
        <div *ngFor="let arq of arquivos" class="pd-document16" style="background: url('../../assets/images/icon-pdf.png') 0 center no-repeat;">
          <a target="_blank" [href]="arq.uri" > {{arq.nomeArquivo}}</a>
          <small>(Outras Publicações)</small>
        </div>

        <!--<div class="pd-document16" style="background: url('../../assets/images/icon-pdf.png') 0 center no-repeat;">-->
          <!--<a href="http://www.minea.gov.ao/index.php/projectos-3/category/83-decretos-ii-legislatura?download=538:decreto-presidencial-2"> Decreto Presidencial n.º 77-10</a>-->
          <!--<small>(Outras Publicações)</small>-->
        <!--</div>-->

        <!--<div class="pd-document16" style="background: url('../../assets/images/icon-pdf.png') 0 center no-repeat;">-->
          <!--<a href="http://www.minea.gov.ao/index.php/projectos-3/category/83-decretos-ii-legislatura?download=524:decreto-presidencial-regulamento"> Decreto Presidencial n.° 4-2011 que aprova a proposta do Projecto de Regulamento Tarifário</a>-->
          <!--<small>(Outras Publicações)</small>-->
        <!--</div>-->

        <!--<div class="pd-document16" style="background: url('../../assets/images/icon-pdf.png') 0 center no-repeat;">-->
          <!--<a href="http://www.minea.gov.ao/index.php/projectos-3/category/83-decretos-ii-legislatura?download=525:decreto-presidencial-politica">Decreto Presidencial n.° 256-11-Politica Estratégica Energética Nacional</a>-->
          <!--<small>(Outras Publicações)</small>-->
        <!--</div>-->

      </div>
  </div>
</div>
