  <a class="area-restrita" href="https://localhost:8080" mat-button>área restrita</a>
<mat-toolbar color="primary" class="toolbar-config cofig-barra-menu">
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <a class="font" [routerLink]="['/home']" mat-button>Início</a>
    <a class="font" [routerLink]="['/sobre']" mat-button>Sobre o SISAS</a>
    <a class="font" [routerLink]="['/projectos']" mat-button>Projectos</a>
    <a class="font" [routerLink]="['/publicacoes']" mat-button>Publicações</a>
    <a class="font" href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>
    <a class="font" [routerLink]="['/contactos']" mat-button>Contactos</a>
  </div>
  <div fxShow="true" fxHide.gt-sm="true" style="top:-2em;" (click)="sidenav.toggle()">
    <a href="#" style="color: #fffcf9;" (click)="sidenav.toggle()"><i class="fa fa-bars" style="size: 10px;"></i> Sisas</a>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
      <a [routerLink]="['/home']" mat-button>Início</a>
      <a [routerLink]="['/sobre']" mat-button>Sobre o DNA</a>
      <a [routerLink]="['/projectos']" mat-button>Projectos</a>
      <a [routerLink]="['/publicacoes']" mat-button>Publicações</a>
      <a href="https://www.minea.gv.ao/" target="_blank" mat-button>Minea</a>
      <a href="http://localhost:9000" target="_blank" mat-button>Sisas</a>
      <a [routerLink]="['/contactos']" mat-button>Contactos</a>
    </div>
  </mat-sidenav>

  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let avatar of banners">
      <div class="picsum-img-wrapper">
        <img style="max-height: 350px; min-width: fit-content;" [src]="'data:' + avatar.contentType + ';base64,' + avatar.imagemBanner" alt="Random first slide">
      </div>
    </ng-template>
  </ngb-carousel>

  <app-posts></app-posts>
  <app-publicacoes></app-publicacoes>

  <router-outlet></router-outlet>

  <app-rodape></app-rodape>


</mat-sidenav-container>
